@model IEnumerable<StoreManagePlan.Models.StoreRelation>
@using StoreManagePlan.Controllers
@{
    ViewData["Title"] = "Index";
    ResourceController resource = new ResourceController();
}




<div class="container-xxl flex-grow-1 container-p-y">
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกไม่สำเร็จ.
        </div>
    </div>
    <form id="form1" asp-action="Index" method="get">

        <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center;">

            <div style="display: flex;width: 30%;">
                <select id="defaultSelectProducer" name="hubID" class="form-select" onchange="submitForm()" >
                    <option value="0">Select Producer</option>
                    <option value="1">BIGC</option>
                </select>

                <div style="align-self: center;margin-left:10px">
                    <input type="button" class="btn btn-outline-secondary" value="Clear" onclick="clearProducer()" />
                    
                </div>

            </div>
           
            <div style="">
                <a href="/StoreRelations/Create"><input class="btn btn-outline-success" type="button" value="Create"></a>
            </div>

        </div>
        <div class="mb-3">
            <div style="display: flex;width: 30%;">
            <select id="defaultSelectSeller" name="SpokeID" class="form-select" onchange="submitForm()">
                <option value="0">Select Seller</option>
                @{
                    List<Store> spokeList = ViewBag.storeSpoke;
                    foreach (var spoke in spokeList)
                    {
                            <option value="@spoke.id">@spoke.store_name</option>
                    }

                }

            </select>
                <div style="align-self: center;margin-left:10px">
                    <input type="button" class="btn btn-outline-secondary" value="Clear" onclick="clearSeller()" />

                </div>
            </div>
        </div>
        <div class="mb-3" style="width:30%;display: flex;">

            <input id="html5-date-input-start" type="date" name="start" class="form-select" style="margin-right: 10px" onchange="submitForm()" />


            <input id="html5-date-input-end" type="date" name="end" class="form-select" onchange="submitForm()" />


        </div>

    </form>

    <div class="nav-align-top ">


        <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
            <div class="mt-3 mb-3">
                <div class="d-flex justify-content-start">
                    <div class="btn-group">
                        <button type="submit" id="export-btn" class="btn btn-outline-secondary"><span class="tf-icons bx bx-download"></span>&nbsp; Export</button>
                    </div>
                </div>
            </div>

            


        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                <div class="card" style="padding:10px">
                    <h5 class="card-header">Summary by Product</h5>
                    <div class="card-datatable table-responsive">
                        <table id="table-data" class="table" style="text-align-last: left;">
                            <thead style="background-color:#80808038">
                                <tr class="text-nowrap">

                                    <th><input class="form-check-input" type="checkbox" value="" id="checkAll"></th>
                                    <th>Producer</th>
                                    <th>Seller</th>
                                    <th>Start</th>
                                    <th>End</th>



                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var dateStart = resource.ConvertDate(item.start_date);
                                    var dateEnd = resource.ConvertDate(item.end_date);
                                    <tr>
                                        <td style="width:10%"><input class="form-check-input" type="checkbox" value="@item.id" id="defaultCheck"></td>
                                        <td>@item.StoreHub.store_name</td>
                                        <td>@item.StoreSpoke.store_name</td>
                                        <td>@dateStart</td>
                                        <td>@dateEnd</td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                <form asp-action="Delete" method="post">
                    <input type="hidden" id="hiddenInputId" name="selectedID" />
                    <div class="mt-3 mb-3">
                        <div class="d-flex justify-content-start">
                            <div class="btn-group">
                                <button type="submit" id="delete-btn" class="btn btn-outline-danger"><span class="tf-icons bx bx-trash"></span>&nbsp; Delete</button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
<script src="~/js/app/storeRelates.js"></script>
<script>

    $(document).ready(function () {
        $('#html5-date-input-start').val("@ViewBag.start");
        $('#html5-date-input-end').val("@ViewBag.end");

      

        $("#checkAll").on("change", function () {
            // หา Checkbox ทุกตัวใน tbody
            var checkboxes = $("tbody input[type=checkbox]");

            // ตั้งค่า Checked ของ Checkbox ทุกตัวตาม Checkbox ทั้งหมด
            checkboxes.prop("checked", $(this).prop("checked"));
        });

        // เมื่อคลิกที่ Checkbox ใน tbody
        $("tbody input[type=checkbox]").on("change", function () {
            // ตรวจสอบว่า Checkbox ทั้งหมดควรติ๊กหรือไม่
            var checkAllCheckbox = $("#checkAll");
            checkAllCheckbox.prop("checked", $("tbody input[type=checkbox]:checked").length === checkboxes.length);
        });

        // เมื่อคลิกที่ปุ่ม delete
        $("#delete-btn").on("click", function (e) {
            var checkedCheckboxes = $('input#defaultCheck:checked'); // เลือก checkbox ที่ถูกเลือกทั้งหมด
            // รวม SKU ที่ถูก check ใน checkbox
            var selectedIds = checkedCheckboxes.map(function () {
                return this.value; // ดึงค่า value ของ checkbox ที่ถูกเลือก
            }).get().join(','); // รวมค่าในรูปแบบ string และใช้ ',' เป็นตัวคั่น

            if (selectedIds == "") {
                $("#import-not-success .toast-body").text("กรุณาเลือกสิ่งที่ต้องการลบ");
                $('#import-not-success').toast('show');
                // alert("กรุณาเลือกสิ่งที่ต้องการลบ")
                e.preventDefault()
            }

            $('#hiddenInputId').val(selectedIds); // ตั้งค่าใน hidden input


        });
    });

    function submitForm() {
        document.getElementById("form1").submit();
    };
    function clearSeller() {
        $('#defaultSelectSeller').val("0");

        document.getElementById("form1").submit();
    };
    function clearProducer() {
        $('#defaultSelectProducer').val("0");
        document.getElementById("form1").submit();
    };
   
     const $select = document.querySelector('#defaultSelectProducer');
     $select.value = '@ViewBag.hubID'

    const $selectSpoke = document.querySelector('#defaultSelectSeller');
    $selectSpoke.value = '@ViewBag.SpokeID'

   
</script>