@model IEnumerable<StoreManagePlan.Models.PlanDetailModel>
@using StoreManagePlan.Controllers

@{
    ResourceController resource = new ResourceController();
    ViewData["Title"] = "Index";
    List<Week> weekList = new List<Week>(ViewBag.weekList);
    List<Store> storeList = new List<Store>(ViewBag.storeList);
    PlanDetailModel total = ViewBag.total;
}
<header>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <script src="~/js/app/planOfWeek.js"></script>
    <style type="text/css" media="print">
      /* @@page { size: landscape; } */
      @@media print {
          body {
            visibility: hidden;
          }
          .section-to-print {
            visibility: visible;
            position: absolute;
            left: 0;
            top: 0;
            width:100%;
            box-shadow: none;
          }
          .bg-1 {
                background-color: #fffaae
          }
          .bg-2 {
                background-color: #f8c5d7
          }
          .bg-3 {
                background-color: #cbfff0
          }
          .bg-4 {
                background-color: #ffcfa7
          }
          .bg-5 {
                background-color: #c7ebff
          }
          .bg-6 {
                background-color: #cfccff
          }
          .bg-7 {
                background-color: #fcb1b1
          }
      }
    </style>
</header>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            อนุมัติสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            
        </div>
    </div>
    <form id="form1" asp-action="Index" method="get">

        <div class="mb-3">

            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-store">Store</label>
                        <div class="col-sm-10">
                            <select id="html5-date-input-store" name="Store" class="form-select select-action">
                                @{

                                    foreach (var item in storeList)
                                    {
                                        <option value="@item.id">@item.store_code - @item.store_name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-week">Week</label>
                        <div class="col-sm-10">
                            <select id="html5-date-input-week" name="Week" class="form-select select-action">
                                @{
                                    <option value="0">กรุณาเลือกสัปดาห์ที่ต้องการ</option>
                                    foreach (var item in weekList)
                                    {
                                        var dateStart = resource.ConvertDate(item.start_date);
                                        var dateEnd = resource.ConvertDate(item.end_date);
                                        <option value="@item.week_no">W @item.week_no - @dateStart - @dateEnd</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-type">Choose Type</label>
                        <div class="col-sm-10">
                            <select id="html5-date-input-type" name="type" class="form-select select-action">



                                <option value="no">กรุณาเลือกประเภท</option>
                                <option value="Hub">Hub</option>
                                <option value="Spoke">Spoke</option>
                                <option value="all">Hub & Spoke</option>



                            </select>
                        </div>
                    </div>

                </div>

               @*  <div class="col-2">
                    <div class="btn-group">
                        <button type="button" id="export-btn" class="btn btn-outline-secondary"><span class="tf-icons bx bx-download"></span>&nbsp; Export</button>
                    </div>
                </div> *@
            </div>

            

        </div>
@*         <div class="mb-3">
            <div style="display: flex;width: 30%;">
                <select id="defaultSelectSeller" name="SpokeID" class="form-select" onchange="submitForm()">
                    <option value="0">Select Seller</option>
                    @{
                        List<Store> spokeList = ViewBag.storeSpoke;
                        foreach (var spoke in spokeList)
                        {
                            <option value="@spoke.id">@spoke.store_name</option>
                        }

                    }

                </select>
                <div style="align-self: center;margin-left:10px">
                    <input type="button" class="btn btn-outline-secondary" value="Clear" onclick="clearSeller()" />

                </div>
            </div>
        </div> *@
@*         <div class="mb-3" style="width:30%;display: flex;">

            <input id="html5-date-input-start" type="date" name="start" class="form-select" style="margin-right: 10px" onchange="submitForm()" />


            <input id="html5-date-input-end" type="date" name="end" class="form-select" onchange="submitForm()" />


        </div> *@

    </form>

    <div class="nav-align-top ">


        <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
        </div>
        <div class="tab-content" >
            <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                <div class="card section-to-print" id="forprint" style="padding:10px">
                    <h5 class="card-header">แผนประจำสัปดาห์</h5>
                    <div class="card-datatable table-responsive">
                        <table id="printTable" class="table" style="text-align-last: left;">
                            <thead style="background-color:#c1c1c138">
                                <tr class="text-nowrap">
                                    <th rowspan="2" colspan="1">Sku Code</th>
                                    <th rowspan="2" colspan="1">Sku Name</th>
                                    <th rowspan="1" colspan="7">
                                        <div style="display: flex;flex-direction: row;justify-content: center;">
                                            Plan
                                        </div>
                                    </th>
                                </tr>
                                <tr class="text-nowrap">
                                    <th rowspan="1" colspan="1">Mon</th>
                                    <th rowspan="1" colspan="1">Tue</th>
                                    <th rowspan="1" colspan="1">Wed</th>
                                    <th rowspan="1" colspan="1">Thu</th>
                                    <th rowspan="1" colspan="1">Fri</th>
                                    <th rowspan="1" colspan="1">Sat</th>
                                    <th rowspan="1" colspan="1">Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.sku_code</td>
                                        <td>@item.sku_name</td>
                                        <td class="bg-1" style="background-color:#fffaae">@item.plan_mon</td>
                                        <td class="bg-2" style="background-color:#f8c5d7">@item.plan_tues</td>
                                        <td style="background-color:#cbfff0">@item.plan_wed</td>
                                        <td style="background-color:#ffcfa7">@item.plan_thu</td>
                                        <td style="background-color:#c7ebff">@item.plan_fri</td>
                                        <td style="background-color:#cfccff">@item.plan_sat</td>
                                        <td style="background-color:#fcb1b1">@item.plan_sun</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                <tr class="text-nowrap">
                                    <th rowspan="1" colspan="2" style="background-color:#c1c1c138">Total</th>
                                    <td style="background-color:#fffaae">@total.plan_mon</td>
                                    <td style="background-color:#f8c5d7">@total.plan_tues</td>
                                    <td style="background-color:#cbfff0">@total.plan_wed</td>
                                    <td style="background-color:#ffcfa7">@total.plan_thu</td>
                                    <td style="background-color:#c7ebff">@total.plan_fri</td>
                                    <td style="background-color:#cfccff">@total.plan_sat</td>
                                    <td style="background-color:#fcb1b1">@total.plan_sun</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
@*                 <form asp-action="Delete" method="post">
                    <input type="hidden" id="hiddenInputId" name="selectedID" />
                    <div class="mt-3 mb-3">
                        <div class="d-flex justify-content-start">
                            <div class="btn-group">
                                <button type="submit" id="delete-btn" class="btn btn-outline-danger"><span class="tf-icons bx bx-trash"></span>&nbsp; Delete</button>

                            </div>
                        </div>
                    </div>

                </form> *@
                <div class="row mt-4">
                    <form style="width:fit-content">
                        <div class="btn-group">

                            <button type="button" id="printButton" class="btn btn-secondary"><span class="tf-icons bx bx-printer"></span>&nbsp; Print</button>
                        </div>
                    </form>
                    <form style="width:fit-content">
                        <div class="btn-group">
@*                             <input type="hidden" id="hiddenStore" name="selectedStore" />
                            <input type="hidden" id="hiddenWeek" name="selectedWeek" /> *@
                            <button type="button" id="submitButton" class="btn btn-success"><span class="tf-icons bx "></span>&nbsp; Submit</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        

    </div>
</div>

<script>

    $(document).ready(function () {
        $('#html5-date-input-store').val("@ViewBag.store");
        $('#html5-date-input-week').val("@ViewBag.week");
        $('#html5-date-input-type').val("@ViewBag.type");

        // $("#selectedStore").val(@ViewBag.store);
        // $("#selectedWeek").val(@ViewBag.week);


        // $("#html5-date-input-store").change(function () {
        //     var selectedValue = $(this).val();
        //     $("#selectedStore").val(selectedValue);

        // });

        // $("#html5-date-input-week").change(function () {
        //     var selectedValue = $(this).val();
        //     $("#selectedWeek").val(selectedValue);

    });

</script>