@model IEnumerable<StoreManagePlan.Controllers.PlanActuallyController.Plan>
@using StoreManagePlan.Controllers

@{
    ResourceController resource = new ResourceController();
    ViewData["Title"] = "Index";
    List<Week> weekList = ViewBag.weekMaster;
    List<Store> storeList = ViewBag.store;
    List<Reason> hight = ViewBag.reasonhight;
    List<Reason> low = ViewBag.resonlow;
    List<Reason> reason = ViewBag.reson;
}

<header>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <style type="text/css" media="print">
        /* @@page { size: landscape; } */
        @@media print {
            body {
                visibility: hidden;
            }

            .section-to-print {
                visibility: visible;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                box-shadow: none;
            }

            .bg-1 {
                background-color: #fffaae
            }

            .bg-2 {
                background-color: #f8c5d7
            }

            .bg-3 {
                background-color: #cbfff0
            }

            .bg-4 {
                background-color: #ffcfa7
            }

            .bg-5 {
                background-color: #c7ebff
            }

            .bg-6 {
                background-color: #cfccff
            }

            .bg-7 {
                background-color: #fcb1b1
            }
        }
    </style>
</header>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        บันทึกจำนวนสินค้าที่ผลิตและขายได้จริง
    </h4>
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            อนุมัติสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
    <form id="form1" asp-action="Index" method="get">


        <input type="hidden" name="storeID" value="@ViewBag.storeID" />
        <input type="hidden" name="week" value="@ViewBag.week" />
        <input type="hidden" name="value" value="@ViewBag.value" />
        <input type="hidden" name="day" value="@ViewBag.day" />
        <input type="hidden" name="cycle" value="@ViewBag.cycle" />

        <div class="mb-3">

            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-store">สาขา</label>
                        <div class="col-sm-10">
                            <select id="storeSelect" class="form-select select-action">
                                <option value="0">กรุณาเลือกสาขาที่ต้องการ</option>
                                @foreach (var item in storeList)
                                {
                                    <option value="@item.id">@item.store_code - @item.store_name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-week">สัปดาห์</label>
                        <div class="col-sm-10">
                            <select id="weekSelect" class="form-select select-action">
                                <option value="0">กรุณาเลือกสัปดาห์ที่ต้องการ</option>
                                @foreach (var week in weekList)
                                {
                                    <option value="@week.week_no">W @week.week_no  @resource.ConvertDate(week.start_date) @resource.ConvertDate(week.end_date)</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-3 col-form-label" for="html5-date-input-type">วันในสัปดาห์</label>
                        <div class="col-sm-9">
                            <select id="daySelect" class="form-select select-action">



                                <option value="0">กรุณาเลือกวัน</option>
                                <option value="1">จันทร์</option>
                                <option value="2">อังคาร</option>
                                <option value="3">พุธ</option>
                                <option value="4">พฤหัส</option>
                                <option value="5">ศุกร์</option>
                                <option value="6">เสาร์</option>
                                <option value="7">อาทิตย์</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-3 col-form-label" for="html5-date-input-type">รอบการผลิต</label>
                        <div class="col-sm-9">
                            <select id="typeSelect" class="form-select select-action">



                                <option value="">กรุณาเลือกวัน</option>
                                <option value="Hub">เช้า</option>
                                <option value="Spoke">บ่าย</option>

                            </select>
                        </div>
                    </div>

                </div>

                @*  <div class="col-2">
                <div class="btn-group">
                <button type="button" id="export-btn" class="btn btn-outline-secondary"><span class="tf-icons bx bx-download"></span>&nbsp; Export</button>
                </div>
                </div> *@
            </div>



        </div>


    </form>

    <div class="nav-align-top ">


        <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                <div class="card section-to-print" id="forprint" style="padding:10px">
                    <h6 class="">สถานะ : @(ViewBag.checkAllSubmit == 1 ? "ยืนยันเรียบร้อย" : "ยังไม่ยืนยัน")</h6>
                    <div class="table-responsive text-nowrap">
                        <table id="printTable" class="table" style="text-align-last: left;">
                            <thead style="background-color:#c1c1c138">
                                <tr class="text-nowrap">
                                    <th>SKU</th>
                                    <th>รายการ</th>
                                    <th>จำนวนตามแผนการผลิต</th>
                                    <th>บันทึกจำนวนสินค้าที่ผลิตและขายได้จริง</th>
                                    <th>เหตุผล</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ToList().Count() == 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center" style="text-align-last: center;">No data</td>
                                    </tr>
                                }
                                @foreach (var m in Model.ToList())
                                {
                                   
                                    <tr>
                                        <td id="skuIDTable" hidden>@m.Id</td>
                                        <td>@m.sku_code</td>
                                        <td>@m.sku_name</td>
                                        <td id="realValue">@m.value</td>
                                        <td><input data-real-val="" type="number" step="1" id="skuInput" value="@m.Actualvalue" @(ViewBag.checkAllSubmit == 0 || ViewBag.checkAllSubmit == 1 ? "disabled" : "") /></td>

                                        <td>
                                            <select id="reasonSelect" class="form-select form-select-sm" disabled="true" asp-for="@m.reason">
                                                <option value="0">กรุณาเลือก เหตุผล</option>
                                               
                                                @foreach (var n in reason)
                                                {
                                                    <option value="@n.id">@n.reason</option>
                                                }

                                            </select>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <button style="margin:5px" class="btn btn-xs btn-outline-info" id="getData" data-bs-toggle="modal" data-bs-target="#modalScrollable" data-store="@ViewBag.storeID" data-week="@ViewBag.week" data-day="@ViewBag.day" data-type="@ViewBag.cycle" data-skuid="@m.Id" data-name="@m.sku_code @m.sku_name" type="button">จัดของ</button>

                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                <tr class="text-nowrap">
                                    <th rowspan="1" colspan="2">Total</th>
                                    <td id="totalPlan">0</td>
                                    <td id="totalInput">0</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row mt-4">
                    <form style="width:fit-content" asp-action="SubmitAll" id="submitAll" method="post">
                        <input id="typeSubmitAllBtn" name="type" value="@ViewBag.cycle" hidden />
                        <input id="dataSubmitAllBtn" name="json" value="" hidden />
                    </form>
                    <div class="btn-group" style="width:fit-content">
                        
                        <button type="button" id="submitAllBtn" class="btn btn-success" @(ViewBag.checkAllSubmit == 0 || ViewBag.checkAllSubmit == 1 ? "disabled" : "")><span class="tf-icons bx bx-check"></span>&nbsp; ยืนยันทั้งหมด</button>
                    </div>

                    <div class="btn-group" style="width:fit-content">
                        <button type="button" id="cancel" class="btn btn-danger" @(ViewBag.checkAllSubmit == 1 ? "" : "disabled")><span class="tf-icons bx bx-x"></span>&nbsp; ยกเลิกทั้งหมด</button>
                    </div>


                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="modalScrollable" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
              
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#storeSelect').val(@ViewBag.storeID);
        $('#weekSelect').val(@ViewBag.week);
        $('#daySelect').val(@ViewBag.day);
        $('#typeSelect').val("@ViewBag.cycle");

        function decodeUnicode(str) {
            return str.replace(/&#x([0-9A-Fa-f]+);/g, function (match, hex) {
                return String.fromCharCode(parseInt(hex, 16));
            });
        }


        function sumInput() {
            var sum = 0;
            $('input[type="number"]').each(function () {
                sum += parseInt($(this).val() || 0); // หาผลรวมของ input value ทั้งหมด
            });
            // แสดงผลรวมใน element ที่มี ID เป็น "totalSum"
            $('#totalInput').text(sum);
        }
        function sumPlan() {
            var sumPlan = 0;

            // วนลูปผ่านแต่ละแถวของตาราง
            $('tr').each(function () {
                var planValue = parseInt($(this).find('#realValue').text() || 0);
                sumPlan += planValue; // คำนวณผลรวมของจำนวนตามแผนการผลิต
            });
            $('#totalPlan').text(sumPlan);
        }


        sumInput();
        sumPlan();

        $('input[type="number"]').change(function () {
            var realValue = $(this).closest('tr').find('#realValue').text();
            var inputValue = $(this).val();


            var reasonSelect = $(this).closest('tr').find("#reasonSelect");

            // ตรวจสอบว่าค่าของ skuInput มากกว่า realValue หรือไม่
            if (inputValue > realValue) {
                // ใช้ data จาก ViewBag.reasonhight
                reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
                reasonSelect.append($('<option>', { value: '0', text: 'กรุณาเลือกเหตุผล' }))
                reasonSelect.prop('disabled', true)
                @foreach (var reasonh in hight)
                {

                    @:reasonSelect.append($('<option>', { value: '@reasonh.id', text: decodeUnicode('@reasonh.reason') }));

                }

                    reasonSelect.prop('disabled', false)
            } 
            else if (inputValue < realValue)
            {
                // ใช้ data จาก ViewBag.reasonrow
                reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
                reasonSelect.append($('<option>', { value: '0', text: 'กรุณาเลือกเหตุผล' }))

                @foreach (var reasonl in low)
                {

                    @:reasonSelect.append($('<option>', { value: '@reasonl.id', text: decodeUnicode('@reasonl.reason') }));

                }
                    reasonSelect.prop('disabled', false)
            }
            else
            {
             
                reasonSelect.prop('disabled', true)
            }

            // ตั้งค่าเริ่มต้นให้เป็นกรุณาเลือก เหตุผล
            reasonSelect.val('0');
            // เปรียบเทียบค่าจริงกับค่าที่ป้อน
           
            sumInput();
        });

        $('select').change(function () {
            // ตรวจสอบค่าของ reasonSelect
            if ($(this).val() == '0') {
                $(this).closest('tr').find('button[type="button"]').prop('disabled', true);
            } else {
                $(this).closest('tr').find('button[type="button"]').prop('disabled', false);
            }
        });
        // เมื่อเลือก storeSelect
        $('#storeSelect').change(function () {
            var storeId = $(this).val();
            // อัพเดทค่าในปุ่ม id="getData" data-store
            $('#getData').data('store', storeId);
            // อัพเดทค่าใน input hidden ชื่อ storId

            $('input[name="storeID"]').val(storeId);
            document.getElementById("form1").submit();
        });

        // เมื่อเลือก weekSelect
        $('#weekSelect').change(function () {
            var weekNo = $(this).val();
            // อัพเดทค่าในปุ่ม id="getData" data-week
            $('#getData').data('week', weekNo);
            // อัพเดทค่าใน input hidden ชื่อ weekNo
            $('input[name="weekNo"]').val(weekNo);
            $('input[name="week"]').val(weekNo);
            document.getElementById("form1").submit();
        });

        // เมื่อเลือก daySelect
        $('#daySelect').change(function () {
            var dayOfWeek = $(this).val();
            // อัพเดทค่าในปุ่ม id="getData" data-day
            $('#getData').data('day', dayOfWeek);
            // อัพเดทค่าใน input hidden ชื่อ dayOfWeek
            $('input[name="dayOfWeek"]').val(dayOfWeek);
            $('input[name="day"]').val(dayOfWeek);
            document.getElementById("form1").submit();
        });

        // เมื่อเลือก typeSelect
        $('#typeSelect').change(function () {
            var type = $(this).val();
            // อัพเดทค่าในปุ่ม id="getData" data-type
            $('#getData').data('type', type);
            // อัพเดทค่าใน input hidden ชื่อ type
            $('input[name="type"]').val(type);
            $('input[name="cycle"]').val(type);
            document.getElementById("form1").submit();
        });

        // เมื่อใส่ค่าใน skuInput
        $('#skuInput').on('input', function () {
            var value = $(this).val();
            // อัพเดทค่าใน input hidden ชื่อ value
            $('input[name="value"]').val(value);

            // var inputValue = parseFloat($(this).val());
            // var realValue = parseFloat($("#realValue").text());
            // var reasonSelect = $("#reasonSelect");

            // // ตรวจสอบว่าค่าของ skuInput มากกว่า realValue หรือไม่
            // if (inputValue > realValue) {
            //     // ใช้ data จาก ViewBag.reasonhight
            //     reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
            //     $.each(@ViewBag.reasonhight, function (index, item) {
            //         reasonSelect.append($('<option>', {
            //             value: item.value,
            //             text: item.name
            //         }));
            //     });
            // } else {
            //     // ใช้ data จาก ViewBag.reasonrow
            //     reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
            //     $.each(@ViewBag.reasonrow, function (index, item) {
            //         reasonSelect.append($('<option>', {
            //             value: item.value,
            //             text: item.name
            //         }));
            //     });
            // }

            // // ตั้งค่าเริ่มต้นให้เป็นกรุณาเลือก เหตุผล
            // reasonSelect.val('0');



        });



        // เมื่อเลือกเหตุผลใน select
        $('select#reasonSelect').change(function () {
            // หาค่าเหตุผลที่ถูกเลือก
            var selectedReason = $(this).val();
            // หา input hidden ในแถวที่เป็นพ่อของ select ที่ถูกเลือก
            var hiddenInput = $(this).closest('tr').find('input[name="reason"]');
            // ใส่ค่าเหตุผลที่ถูกเลือกลงใน input hidden
            hiddenInput.val(selectedReason);
        });

        $('.btn-outline-info').click(function () {
            // ดึงค่า ID จาก value ในปุ่ม
            var id = parseInt($(this).data('id'));
            var store = $(this).data('store');
            var week = $(this).data('week');
            var day = $(this).data('day');
            var type = $(this).data('type');
            var skuid = $(this).data('skuid');
            var name = $(this).data('name');

            var valueInput = $(this).closest('tr').find('input[type="number"]').val();

            // เรียกใช้งาน Ajax
            $.ajax({
                type: 'GET', // หรือ 'POST' ตามที่ต้องการ
                url: '/PlanActually/GetSkuDetail',
                data: {  // เพิ่มพารามิเตอร์ที่ต้องการส่งไปยังหลังบ้าน
                    store: store,
                    week: week,
                    day: day,
                    skuid: skuid,
                    type: type,
                    valueInput: valueInput
                },
                dataType: 'json', // รูปแบบข้อมูลที่ต้องการรับกลับมา
                success: function (data) {
                    // เมื่อรับข้อมูลสำเร็จ
                    // สร้างตารางใน modal
                    var table = '<table class="table"><thead><tr><th>Store</th><th>Quantity</th></tr></thead><tbody>';
                    $.each(data, function (index, item) {
                        table += '<tr><td>' + item.sku_name + '</td><td>' + item.value + '</td></tr>';
                    });
                    table += '</tbody></table>';
                    $('.modal-body').html(table);

                    $('#modalScrollable').find('.modal-title').text(name);
                },
                error: function (xhr, status, error) {
                    // เมื่อเกิดข้อผิดพลาด
                    console.error(xhr.responseText);
                }
            });
        });



        $('#submitAllBtn').click(function () {


            var isValid = true;
            // ตรวจสอบทุกแถวของตาราง
            $("table tbody tr").each(function () {
                var realValue = parseFloat($(this).find("#realValue").text());
                var inputValue = parseFloat($(this).find("#skuInput").val());
                var reasonValue = $(this).find("#reasonSelect").val();

                // ตรวจสอบว่าค่าที่กรอกตรงกับค่าจริงหรือไม่
                if (realValue !== inputValue) {
                    if (reasonValue === "0") {
                        isValid = false;
                        return false; // หยุดการทำงานเมื่อพบข้อมูลที่ไม่ถูกต้อง
                    }

                }
            });

            // ถ้ามีข้อมูลที่ไม่ถูกต้อง
            if (!isValid) {
                alert("กรุณาเลือกเหตุผลในการปรับจำนวนสินค้า");
                return;
            } else {
                var data = [];
                // วนลูปผ่านแต่ละแถวในตาราง
                $("tbody tr").each(function () {
                    var value = $(this).find("#skuInput").val(); // ดึงข้อมูล value
                    var skuId = $(this).find("#skuIDTable").text(); // ดึงข้อมูล skuID
                    var reason = $(this).find("#reasonSelect").val(); // ดึงข้อมูล reason (ถ้าต้องการ)
                    var realValue = $(this).find("#realValue").text(); // ดึงข้อมูล reason (ถ้าต้องการ)

                    // เก็บข้อมูลในรูปแบบของอ็อบเจ็กต์
                    var row = {
                        store_id: @ViewBag.storeID,
                        week_no: @ViewBag.week,
                        day_of_week: @ViewBag.day,
                        reason_id: reason,
                        sku_id: skuId,
                        plan_actually: value,
                        plan_value: realValue
                    };
                    // เพิ่มอ็อบเจ็กต์ลงในอาร์เรย์
                    data.push(row);
                });

                // // สร้างฟิลด์ซ่อนเพื่อส่งข้อมูล JSON ไปยังแอ็คชัน SubmitAll
                // $('<input>').attr({
                //     type: 'hidden',
                //     name: 'jsonData',
                //     value: JSON.stringify(data)
                // }).appendTo($(this));

                // ส่งข้อมูลไปยังแอ็คชัน SubmitAll
                $('#dataSubmitAllBtn').val(JSON.stringify(data));
                $('#submitAll').submit();
            }




        });

        // เมื่อคลิกปุ่ม 'ยกเลิกทั้งหมด'
        $("#cancel").click(function () {

            $("tbody tr").each(function () {


                var reasonValue = $(this).find("#reasonSelect").val();

                $(this).find("#skuInput").prop("disabled", false);
                if (reasonValue === "0") {
                    $(this).find("#reasonSelect").prop("disabled", true);
                } else {
                    $(this).find("#reasonSelect").prop("disabled", false);
                }

            });

            $("#submitAllBtn").prop("disabled", false); // ปรับ disable เป็น false
            $(this).prop("disabled", true); // ปรับ disable เป็น true
        });



    });



</script>