@model List<StoreManagePlan.Models.PlanActually>
@using StoreManagePlan.Controllers
@{
    ViewData["Title"] = "Edit";
    var firstItem = Model.FirstOrDefault();
    List<Reason> hight = ViewBag.reasonhight;
    List<Reason> low = ViewBag.resonlow;
    List<Reason> reason = ViewBag.reson;
}
<header>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <script src="~/js/app/ibtout.js"></script>
</header>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>

    <div class="nav-align-top ">

        <h3>การโอนสินค้า (IBT Out)</h3>
        <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                <div class="card section-to-print" id="forprint" style="padding:10px">
                    
                    <div class="row">
                        <div class="col-6 text-start"><h5 class="card-header">รายการ: @firstItem.item.sku_code @firstItem.item.sku_name</h5></div>
                        <div class="col-6 text-end"><h5 class="card-header">จำนวนที่โอนออกจริง: <span id="cnt-plan"></span></h5></div>
                    </div>
                    <div class="card-datatable table-responsive">
                        <table id="printTable" class="table" style="text-align-last: left;">
                            <thead style="background-color:#c1c1c138">
                                <tr class="text-nowrap">
                                    <th>สาขา</th>
                                    <th>จำนวนที่สาขายืนยัน</th>
                                    <th>จำนวนที่ออกจริง</th>
                                    <th>เหตุผล</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-store-id="@item.store_id" data-val-day="@ViewBag.day" data-val-week="@ViewBag.week" data-val-sku="@ViewBag.sku">
                                        <td>@item.store.store_code @item.store.store_name</td>
                                        <td class="plan-value">@item.plan_value</td>
                                        <td >
                                            <input data-real-val="@item.plan_actually" class="plan-actual form-control form-control-sm" min="0" type="number" value="@item.plan_actually" />
                                        </td>
                                        <td>
                                            <select id="reasonSelect" class="form-select form-select-sm" disabled="true" asp-for="@item.reason">
                                                <option value="0">กรุณาเลือกเหตุผล</option>
                                                @foreach (var n in reason)
                                                {
                                                    <option value="@n.id">@n.reason</option>
                                                }

                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                <tr class="text-nowrap">
                                    <th>Total</th>
                                    <td id="totalPlan"></td>
                                    <td id="totalInput"></td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row mt-4">
                    <form style="width:fit-content">
                        <div class="btn-group">

                            <button type="button" id="editButton" class="btn btn-primary">ยืนยัน</button>
                        </div>
                    </form>
                    <form style="width:fit-content">
                        <div class="btn-group">
                            <button type="button" id="btn-exit" class="btn btn-secondary">ปิด</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>
</div>
<script>
    $(document).ready(function () {
        function sumInput() {
            var sum = 0;
            $('.plan-actual').each(function () {
                sum += parseInt($(this).val() || 0); // หาผลรวมของ input value ทั้งหมด
            });
            // แสดงผลรวมใน element ที่มี ID เป็น "totalSum"
            $('#totalInput').text(sum);
            $('#cnt-plan').text(sum);
        }
        function sumPlan() {
            var sumPlan = 0;

            // วนลูปผ่านแต่ละแถวของตาราง
            $('.plan-value').each(function () {
                var planValue = parseInt($(this).find('#realValue').text() || 0);
                sumPlan += planValue; // คำนวณผลรวมของจำนวนตามแผนการผลิต
            });
            $('#totalPlan').text(sumPlan);

        }

        function decodeUnicode(str) {
            return str.replace(/&#x([0-9A-Fa-f]+);/g, function (match, hex) {
                return String.fromCharCode(parseInt(hex, 16));
            });
        }

        sumInput();
        sumPlan();

        $('input[type="number"]').change(function () {
            var sum = 0;
            $('.plan-actual').each(function() {
                sum += parseInt($(this).val() || 0); // หาผลรวมของ input value ทั้งหมด
            });
            console.log(sum);
            // แสดงผลรวมใน element ที่มี ID เป็น "totalSum"
            $('#totalInput').text(sum);


            var realValue = $(this).data('real-val');
            var inputValue = $(this).val();


            var reasonSelect = $(this).closest('tr').find("#reasonSelect");

            // ตรวจสอบว่าค่าของ skuInput มากกว่า realValue หรือไม่
            if (inputValue > realValue) {
                // ใช้ data จาก ViewBag.reasonhight
                reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
                reasonSelect.append($('<option>', { value: '0', text: 'กรุณาเลือกเหตุผล' }))

                @foreach (var reasonh in hight)
                {

                    @:reasonSelect.append($('<option>', { value: '@reasonh.id', text: decodeUnicode('@reasonh.reason') }));

                }

            } else {
                 // ใช้ data จาก ViewBag.reasonrow
                 reasonSelect.empty(); // เคลียร์ option ทั้งหมดก่อน
                 reasonSelect.append($('<option>', { value: '0', text: 'กรุณาเลือกเหตุผล' }))

                @foreach (var reasonl in low)
                {

                    @:reasonSelect.append($('<option>', { value: '@reasonl.id', text: decodeUnicode('@reasonl.reason') }));

                }

            }

            // ตั้งค่าเริ่มต้นให้เป็นกรุณาเลือก เหตุผล
            reasonSelect.val('0');
            // เปรียบเทียบค่าจริงกับค่าที่ป้อน
            if (realValue != inputValue) {
                // ถ้าค่าไม่เท่ากันให้ปรับสถานะปุ่ม
                $(this).closest('tr').find('select').prop('disabled', false);
                $(this).closest('tr').find('button[type="button"]').prop('disabled', true);
            } else {
                // ถ้าค่าเท่ากันให้เอา disable ออก
                $(this).closest('tr').find('select').prop('disabled', true).val("0")
                $(this).closest('tr').find('button[type="button"]').prop('disabled', false);
            }
        });

        $('#editButton').click(function () {
            console.log($('#totalInput').text());
            console.log($('#cnt-plan').text());
            var temp = $('#cnt-plan').text();
            var real = $('#totalInput').text();
            if (temp != real) {
                $("#import-not-success .toast-title").text("เตือน");
                $("#import-not-success .toast-body").text("กรุณาตรวจสอบข้อมูลให้ถูกต้อง");
                $('#import-not-success').toast('show');
                return;
            }
            else {
                var data = [];
                var isValid = true;
                // วนลูปผ่านแต่ละแถวในตาราง
                $("tbody tr").each(function () {


                    var real = $(this).find(".plan-actual").data('real-val');
                    var storeId = $(this).data("store-id");
                    var planActual = $(this).find(".plan-actual").val();
                    var sku = $(this).data('val-sku');
                    var day = $(this).data('val-day');
                    var week = $(this).data('val-week');

                    var reasonValue = $(this).find("#reasonSelect").val();

                    console.log(real);
                    console.log(planActual);
                    // ตรวจสอบว่าค่าที่กรอกตรงกับค่าจริงหรือไม่
                    if (parseInt(planActual) !== real) {
                        if (reasonValue === "0") {
                            $("#import-not-success .toast-body").text("กรุณาเลือกเหตุผล");
                            $('#import-not-success').toast('show');
                            isValid = false;
                            return; // หยุดการทำงานเมื่อพบข้อมูลที่ไม่ถูกต้อง
                        }

                    }
                    // เก็บข้อมูลในรูปแบบของอ็อบเจ็กต์
                    var row = {
                        store_id: storeId,
                        week_no: week,
                        day_of_week: day,
                        reason_id: parseInt(reasonValue),
                        sku_id: sku,
                        plan_actually: planActual,
                    };
                    // เพิ่มอ็อบเจ็กต์ลงในอาร์เรย์
                    data.push(row);
                });
                console.log(data);
                console.log(isValid);
                //return;
                if (isValid) {
                    var formData = new FormData();
                    formData.append('planActuals', JSON.stringify(data));
                    $.ajax({
                        url: '/IbtOut/SubmitAll', // Update the URL based on your actual URL structure
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {

                            if (data.success) {
                                $("#import-success .toast-body").text("บันทึกสำเร็จ");
                                $('#import-success').toast('show');
                                setTimeout(function () {
                                    var url = '/IbtOut/Index?Store=' + @ViewBag.store + '&Day=' + @ViewBag.day + '&Spoke=' + @ViewBag.spoke  + '&Week=' + @ViewBag.week;
                                    window.location.href = url;
                                }, 2000);
                            }
                            else {
                                $("#import-not-success .toast-body").text("บันทึกไม่สำเร็จ ข้อความ: " + data.message);
                                $('#import-not-success').toast('show');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }
        });

        $('#btn-exit').click(function() {
            var store = $(this).data('store');
            var spoke = $(this).data('sku');
            var day = $(this).data('day');
            var week = $(this).data('week');

            // Redirect the user to the desired URL
            var url = '/IbtOut/Index?Store=' + @ViewBag.store + '&Day=' + @ViewBag.day + '&Spoke=' + @ViewBag.spoke  + '&Week=' + @ViewBag.week;
            window.location.href = url;
        });



    });
</script>