@model IEnumerable<StoreManagePlan.Models.PlanDetail>
@using StoreManagePlan.Controllers

@{
    ViewData["Title"] = "Index";
   

    var arialSelectSummary = "true";
    var arialSelectDetail = "false";
    var modalSummary = "active show";
    var modalDetail = "";
    var status_text = "INSUFFICIENT ON HAND";

    if (ViewBag.detail == "active")
    {
        arialSelectSummary = "false";
        arialSelectDetail = "true";
        modalSummary = "";
        modalDetail = "active show";
    }
    else
    {

        arialSelectSummary = "true";
        arialSelectDetail = "false";
        modalSummary = "active show";
        modalDetail = "";
    }

    List<Week> weekList = ViewBag.weekMaster;
    ResourceController resource = new ResourceController();

    int weekNo = ViewBag.weekNo;

    var statusPlan = weekList.Where(m => m.week_no == weekNo).Select(m => m.status).SingleOrDefault();

   

    if (statusPlan == 1)
    {
        status_text = "SUBMITED";
    }
    else if (statusPlan == 2)
    {
        status_text = "APPROVED";
    }
    else if (statusPlan == 3)
    {
        status_text = "REJECTED";
    }
    else
    {
        status_text = "INSUFFICIENT ON HAND";
    }

}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกไม่สำเร็จ.
        </div>
    </div>

    <div class="mb-3" style="width:25%">
        <label for="defaultSelect" class="form-label">Period</label>
        <form asp-action="Index" method="get" id="index">
            <input id="store" name="storeId" type="hidden" />
            <input id="tab" name="TabNo" type="hidden" />
            <select id="week" name="weekNo" class="form-select">
                @foreach (var week in weekList)
                {
                    <option value="@week.week_no">W @week.week_no  @resource.ConvertDate(week.start_date) @resource.ConvertDate(week.end_date)</option>
                    
                }
              

            </select>
        </form>

        <br />
        <label for="defaultSelect" class="form-label">Product Plan Status : @status_text</label>
    </div>
    <div class="nav-align-top ">
        <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item">
                <button type="button" class="nav-link @ViewBag.summary" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="@arialSelectSummary" id="summaryTab">
                    Summary
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @ViewBag.detail" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="@arialSelectDetail" id="detailTab">
                    Detail
                </button>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane fade @modalSummary" id="navs-pills-top-home" role="tabpanel">


                <div class="card">
                    <h5 class="card-header">Summary by Store</h5>
                    <div class="table-responsive text-nowrap">
                        <table id="table-data" class="table">
                            <thead style="background-color:#80808038">
                                <tr class="text-nowrap">

                                    <th>Type</th>
                                    <th style="text-align:right">Plan Quality</th>
                                    <th style="text-align:right">%</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Hub</th>
                                    <th style="text-align:right">@ViewBag.hubQTY</th>
                                    <th style="text-align:right">@ViewBag.hubPST%</th>

                                </tr>
                                <tr>
                                    <th>Spoks</th>
                                    <th style="text-align:right">@ViewBag.spokeQTY</th>
                                    <th style="text-align:right">@ViewBag.spokePST%</th>

                                </tr>
                            </tbody>
                            <tfoot class="table-border-bottom-0" style="background-color:#80808038">
                                <tr>
                                    <th>Grand Total</th>
                                    <th style="text-align:right">@ViewBag.totalQTY</th>
                                    <th style="text-align:right">@ViewBag.totalPST%</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <br />




            </div>
            <div class="tab-pane fade @modalDetail" id="navs-pills-top-profile" role="tabpanel">


                <div class="mb-3" style="width:25%">
                    <form asp-action="SelectStore" method="post" id="storeSubmit">
                        <input id="weekDetail" name="WeekNo" type="hidden" />
                        <input id="tabDetail" name="TabNo" type="hidden" />
                        <select id="storeDetail" name="storeId" class="form-select">
                            <option value="0">Select Store</option>
                            @{
                                List<Store> store = ViewBag.store;
                                foreach (var n in store)
                                {
                                    <option value="@n.id">@n.store_name</option>
                                }

                            }

                        </select>
                    </form>


                </div>

                <div class="card">

                    <div class="table-responsive text-nowrap">
                        <table id="table-log" class="table">
                            <thead style="background-color:#80808038">

                                <tr class="text-nowrap">
                                    <!-- Column 1 -->
                                    <th rowspan="2" style="vertical-align: middle;">SKU</th>

                                    <!-- Column 2 -->
                                    <th rowspan="2" style="vertical-align: middle;">รายการ</th>

                                    <!-- Column 3 to 8 -->
                                    <th class="text-center">Monday</th>
                                    <th class="text-center">Tuesday</th>
                                    <th class="text-center">Wednesday</th>
                                    <th class="text-center">Thuesday</th>
                                    <th class="text-center">Friday</th>
                                    <th class="text-center">Saturday</th>
                                    <th class="text-center">Sunday</th>
                                </tr>

                                <tr class="text-nowrap">

                                    <th>Plan</th>
                                    <th>Plan</th>
                                    <th>Plan</th>
                                    <th>Plan</th>
                                    <th>Plan</th>
                                    <th>Plan</th>
                                    <th>Plan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>


                                        <td class="text-center">@item.item.sku_code</td>
                                        <td class="text-center">@item.item.sku_name</td>
                                        <td class="text-center">@item.plan_mon</td>
                                        <td class="text-center">@item.plan_tues</td>
                                        <td class="text-center">@item.plan_wed</td>
                                        <td class="text-center">@item.plan_thu</td>
                                        <td class="text-center">@item.plan_fri</td>
                                        <td class="text-center">@item.plan_sat</td>
                                        <td class="text-center">@item.plan_sun</td>



                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
                <br />
                <div class="mt-3 mb-3">
                    <div class="d-flex justify-content-start" style="float:right;">
                        <div class="btn-group">

                            <button type="submit" id="export-btn" class="btn btn-outline-secondary"><span class="tf-icons bx bx-download"></span>&nbsp; Export</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
               @*  <label for="defaultSelect" class="form-label">Comment</label>
                <br />
                <label for="defaultSelect" class="form-label">Insufficient On Hand</label>

                <br />
 *@


                <div class="mt-3 mb-3">

                    <div class="d-flex justify-content-start">
                        <form asp-action="Approve" method="post" style="margin-right:2%">
                            <input name="weekNo" type="hidden" id="weekApprove" />
                            <input name="storeId" type="hidden" id="storeApprove" />
                            <div class="btn-group">
                                <button type="submit" id="submit-btn" class="btn btn-success" @(statusPlan == 1 ? "" : "disabled")>&nbsp; Approve</button>

                            </div>
                        </form>
                        <form asp-action="Reject" method="post">
                            <input name="weekNo" type="hidden" id="weekReject" />
                            <input name="storeId" type="hidden" id="storeReject" />
                            <div class="btn-group">

                                <button type="submit" id="submit-btn" class="btn btn-danger" @(statusPlan == 1 ? "" : "disabled")>&nbsp; Reject</button>

                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>

        <div class="modal fade" id="import-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Import</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">import here</label>
                            <input class="form-control" type="file" id="formFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-import">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-toast toast fade bg-success top-0 end-0" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-medium">สำเร็จ</div>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                บันทึกสำเร็จ.
            </div>
        </div>

        <div class="bs-toast toast fade bg-danger" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-medium">แจ้งเตือน</div>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                บันทึกไม่สำเร็จ.
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
<script src="~/js/app/planDetail.js"></script>

<script>
    $(document).ready(function () {

        $("#tabDetail").val(@ViewBag.tabNo);
        $("#tab").val(@ViewBag.tabNo);


        $("#summaryTab").on("click", function () {
            // ตั้งค่า id ของ element เป็น 0
            $("#tab").val(0);
            $("#tabDetail").val(0);
        });

        // เมื่อคลิกที่ปุ่ม Detail
        $("#detailTab").on("click", function () {
            // ตั้งค่า id ของ element เป็น 1
            $("#tab").val(1);
            $("#tabDetail").val(1);
        });


        // ตั้งค่าให้กับ input ที่มี id เป็น 'weekNo'
        $("#weekNo").val(@ViewBag.weekNo);
        $("#week").val(@ViewBag.weekNo);
        $("#weekDetail").val(@ViewBag.weekNo);
        $("#storeDetail").val(@ViewBag.storeId);
        $("#store").val(@ViewBag.storeId);
        $("#storeApprove").val(@ViewBag.storeId);
        $("#storeReject").val(@ViewBag.storeId);

        $("#weekApprove").val(@ViewBag.weekNo);
        $("#weekReject").val(@ViewBag.weekNo);

        // เมื่อมีการเลือกรายการใน dropdown
        $("#week").change(function () {
            // ดึงค่าที่ถูกเลือก
            var selectedValue = $(this).val();

            // นำค่าที่ถูกเลือกมาใส่ใน input ที่มี id เป็น 'weekNo'

            $("#weekApprove").val(selectedValue);
            $("#weekDetail").val(selectedValue);
            $("#weekReject").val(selectedValue);
            $("#index").submit();
        });
        $("#storeDetail").change(function () {
            // ดึงค่าที่ถูกเลือก
            var selectedValue = $(this).val();

            // นำค่าที่ถูกเลือกมาใส่ใน input ที่มี id เป็น 'weekNo'


            $("#store").val(selectedValue);
            $("#storeReject").val(selectedValue);
            $("#storeApprove").val(selectedValue);
            $("#storeChange").submit();

        });
    });
</script>