@model StoreManagePlan.Models.ItemFeature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemFeature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minimum_feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minimum_feature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maximum_feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maximum_feature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.default_feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.default_feature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.update_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.update_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
